<section class="about" id="about">
  <div class="about_container container">
    <h2 class="visually-hidden">
      <span>I Vantaggi di RouteGauge</span>
    </h2>
    <div class="about-content">
      <ul class="about-content-left">
        <li class="about-item">
          <h3>Analisi predittiva</h3>
          <p>
            Utilizziamo algoritmi avanzati per prevedere condizioni del traffico, ritardi e ottimizzare automaticamente le rotte in base a vari fattori esterni, come il traffico e le condizioni meteorologiche.
          </p>
        </li>
        <li class="about-item">
          <h3>Semplicità d'uso</h3>
          <p>
            La nostra piattaforma è progettata per essere semplice da usare, con una dashboard intuitiva che consente agli utenti di monitorare e ottimizzare le consegne in modo rapido ed efficace.
          </p>
        </li>
        <li class="about-item">
          <h3>Soluzione scalabile</h3>
          <p>
            RouteGauge si adatta a qualsiasi tipo di azienda, dalle piccole imprese alle grandi multinazionali della logistica.
          </p>
        </li>
      </ul>
      <img class="about-img-right" src="./img/about.png" alt="I Vantaggi di RouteGauge">
    </div>
  </div>
</section>
