<section class="contact" id="contact">
  <div class="contact_container container">
    <h2 class="title-h2">
      <span>contatti</span>
    </h2>
    <div class="contact-content">
      <div class="contact-content-left">
        <img
          class="picture_size"
          src="./img/contact.jpg"
          alt="roads and bridges"
        />
      </div>
      <div class="contact-content-right">
        <ul class="contact-content-list1">
          <li>
            Modulo di contatto: Se hai domande, contattaci tramite il modulo e
            il nostro team risponderà entro 24 ore.
          </li>
          <li>
            Inoltre, offriamo consulenze gratuite per aiutarti a configurare al
            meglio la piattaforma per le tue esigenze aziendali.
          </li>
        </ul>

        <ul class="contact-content-list2">
          <li class="contact-list2-item">
            <p>Email</p>
            <h3>info@routegauge.com</h3>
          </li>
          <li class="contact-list2-item">
            <p>Telefono</p>
            <h3>+1 800 123 4567</h3>
          </li>
          <li class="contact-list2-item">
            <p>Indirizzo</p>
            <h3>123 Route Avenue, Milano, Italia</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
