<section class="faq" id="faq">
  <div class="faq_container container">
    <h2 class="title-h2">
      <span>Vantaggi dell'utilizzo</span>
    </h2>
    <ul class="faq_list">
      <li class="faq-item">
        <h3>Riduzione dei costi operativi</h3>
        <p>
          L'ottimizzazione delle rotte permette di risparmiare carburante e
          tempo di viaggio.
        </p>
      </li>

      <li class="faq-item">
        <h3>Aumento dell'efficienza</h3>
        <p>
          Automazione della gestione logistica per ridurre errori e ritardi.
        </p>
      </li>

      <li class="faq-item">
        <h3>Decisioni basate sui dati </h3>
        <p>Report avanzati per migliorare le strategie di trasporto.</p>
      </li>

      <li class="faq-item">
        <h3>Esperienza cliente migliorata</h3>
        <p>
          Consegne più rapide e precise aumentano la soddisfazione dei clienti.
        </p>
      </li>

      <li class="faq-item">
        <h3>Scalabilità</h3>
        <p>
          La piattaforma cresce con la tua azienda e si adatta a nuove esigenze.
        </p>
      </li>
    </ul>
  </div>
</section>
