<footer class="footer">
  <div class="footer_container container">
    <p class="footer-text">© 2025 routegauge.com, Tutti i diritti riservati.</p>
    <ul class="footer-links-list">
      <li class="footer-links-list-item">
        <a href="./privacy-policy.html">Politica sulla privacy</a>
      </li>
      <li class="footer-links-list-item">
        <a href="./terms-and-conditions.html">Termini di servizio</a>
      </li>
      <li class="footer-links-list-item">
        <a href="./cookies-policy.html">Cookie</a>
      </li>
    </ul>
  </div>
</footer>
