<section class="gallery" id="gallery">
  <div class="gallery_container container">
    <h2 class="title-h2"><span>servizi</span></h2>
    <h3 class="gallery-title-h3">
      RouteGauge offre un'ampia gamma di servizi per migliorare la gestione e
      l'efficienza logistica delle aziende di trasporto:
    </h3>
    <div class="gallery-content">
      <div class="swiper swiper-gallery">
        <div class="swiper-wrapper swiper-wrapper-gallery">
          <div class="swiper-slide swiper-slide-gallery swiper-slide-gallery-1">
            <div class="gallery-item-content">
              <h4>Monitoraggio delle rotte in tempo reale</h4>
              <p>Controllo costante dei veicoli tramite GPS con aggiornamenti continui sulla posizione e i tempi di consegna.</p>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-gallery swiper-slide-gallery-2">
            <div class="gallery-item-content">
              <h4>Ottimizzazione automatica delle rotte</h4>
              <p>Algoritmi avanzati analizzano traffico, meteo e vincoli logistici per selezionare il percorso più veloce e conveniente.</p>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-gallery swiper-slide-gallery-3">
            <div class="gallery-item-content">
              <h4>Previsione dei ritardi</h4>
              <p>Il sistema identifica possibili rallentamenti e suggerisce alternative per ridurre i tempi di attesa.</p>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-gallery swiper-slide-gallery-4">
            <div class="gallery-item-content">
              <h4>Gestione delle flotte</h4>
              <p>Un’unica piattaforma per tenere traccia di tutti i veicoli, i carichi e le prestazioni dei conducenti.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
