<header class="header">
  <div class="header_container container">
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item"><a href="./index.html">Chi siamo</a></li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Servizi</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Vantaggi dell'utilizzo</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Come funziona</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Casi di successo</a>
        </li>
        <li class="header-nav-pc-item"><a href="./index.html">Prezzi</a></li>
        <li class="header-nav-pc-item"><a href="./index.html">Contatti</a></li>
      </ul>
    </nav>

    <nav class="header-nav-mobile">
      <ul class="header-nav-mobile-list">
        <li class="header-nav-mobile-item">
          <a href="./index.html">Chi siamo</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Servizi</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Vantaggi dell'utilizzo</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Come funziona</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Casi di successo</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Prezzi</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Contatti</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./privacy-policy.html">Politica sulla privacy</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./terms-and-conditions.html">Termini di servizio</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./cookies-policy.html">Cookie</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-nav-mobile-button">
      <img
        src="./img/header/burger-menu.png"
        class="header-nav-mobile-button-open"
        alt="menu"
      />
      <img
        src="./img/header/close-menu.png"
        class="header-nav-mobile-button-close is-hidden"
        alt="close"
      />
    </button>
  </div>
</header>
