<header class="header">
  <div class="header_container container">
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item"><a href="#info">About the game</a></li>
        <li class="header-nav-pc-item">
          <a href="#how-play">How to play</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#features">Features</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#gallery">Gallery</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-pc-item"><a href="#faq">FAQ</a></li>
        <li class="header-nav-pc-item"><a href="#characters">Characters</a></li>
      </ul>
    </nav>

    <nav class="header-nav-mobile">
      <ul class="header-nav-mobile-list">
        <li class="header-nav-mobile-item">
          <a href="#info">About the game</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#how-play">How to play</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#features">Features</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#gallery">Gallery</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#faq">FAQ</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#characters">Characters</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-nav-mobile-button">
      <svg class="header-nav-mobile-button-open" width="24" height="24" style="fill:#E8F0E9; stroke:#E8F0E9">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
      <svg
        class="header-nav-mobile-button-close is-hidden"
        width="24"
        height="24"
        style="fill:#E8F0E9; stroke:#E8F0E9"
      >
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</header>
