<header class="header">
  <div class="header_container container">
    <a class="logo-box" href="./index.html">
      <img class="picture_size" src="./img/header/logo.png" alt="logo" />
    </a>
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item">
          <a href="./index.html">About the game</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="./index.html">How to play</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Features</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Gallery</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Reviews</a>
        </li>
        <li class="header-nav-pc-item"><a href="./index.html">FAQ</a></li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Characters</a>
        </li>
      </ul>
    </nav>

    <nav class="header-nav-mobile">
      <ul class="header-nav-mobile-list">
        <li class="header-nav-mobile-item">
          <a href="./index.html">About the game</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">How to play</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Features</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Gallery</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Reviews</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">FAQ</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Characters</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-nav-mobile-button">
      <img class="picture_size" src="./img/header/burger-menu.png" alt="menu" />
    </button>
  </div>
</header>
