<section class="hero">
  <div class="hero_container container">
    <div class="hero-content">
      <h2 class="title-h2"><span>Chi siamo</span></h2>
      <h1>RouteGaude</h1>
      <p>
        RouteGauge è una piattaforma tecnologica progettata per ottimizzare i
        percorsi di consegna per le aziende di trasporto e logistica. La nostra
        missione è semplificare il processo di pianificazione delle rotte e
        ridurre i costi operativi delle aziende, offrendo soluzioni intelligenti
        basate su analisi predittive e dati in tempo reale.
      </p>
    </div>
  </div>
</section>
