<section class="how-works" id="how-works">
  <div class="how-works_container container">
    <h2 class="title-h2 how-works-title"><span>Come funziona</span></h2>
    <ul class="how-works-list">
      <li class="how-works-item">
        <h4>01</h4>
        <h3>Registrazione e onboarding</h3>
        <p>Configura il tuo account aziendale e collega i tuoi veicoli.</p>
      </li>
      <li class="how-works-item">
        <h4>02</h4>
        <h3>Collegamento dei dispositivi GPS</h3>
        <p>Monitoraggio in tempo reale della tua flotta.</p>
      </li>
      <li class="how-works-item">
        <h4>03</h4>
        <h3>Impostazione delle rotte</h3>
        <p>Configura preferenze di percorso e obiettivi aziendali.</p>
      </li>
      <li class="how-works-item">
        <h4>04</h4>
        <h3>Ottimizzazione automatica</h3>
        <p>Il sistema suggerisce aggiornamenti dinamici basati sulle condizioni del traffico.</p>
      </li>
      <li class="how-works-item">
        <h4>05</h4>
        <h3>Analisi e reportistica</h3>
        <p>Accedi a statistiche dettagliate per migliorare le prestazioni.</p>
      </li>
    </ul>
  </div>
</section>
