<section class="pricing" id="pricing">
  <div class="pricing_container container">
    <h2 class="title-h2"><span>pricing</span></h2>
    <ul class="pricing-list">
      <li class="pricing-item">
        <h4>Pacchetto Base</h4>
        <div class="pricing-item-box">
          <h3>99$</h3>
          <p>Al mese</p>
        </div>
      </li>
      <li class="pricing-item">
        <h4>Pacchetto Professionale</h4>
        <div class="pricing-item-box">
          <h3>199$</h3>
          <p>Al mese</p>
        </div>
      </li>
      <li class="pricing-item">
        <h4>Pacchetto Aziendale</h4>
        <div class="pricing-item-box">
          <h3>Prezzo</h3>
          <p>Su Richiesta</p>
        </div>
      </li>
      <li class="pricing-item">
        <h4>Pacchetto Enterprise </h4>
        <div class="pricing-item-box">
          <h3>Prezzo</h3>
          <p>Su Richiesta</p>
        </div>
      </li>
    </ul>
  </div>
</section>
