<section class="reviews" id="reviews">
  <div class="reviews_container container">
    <h2 class="title-h2">
      <span>Casi di successo</span>
    </h2>
    <div class="reviews-content">
      <div class="swiper swiper-reviews">
        <div class="swiper-wrapper swiper-wrapper-reviews">
          <div class="swiper-slide swiper-slide-reviews">
            <div class="reviews-item-box">
              <h4>“</h4>
              <h3>
                Abbiamo ridotto i costi del 15% e migliorato la puntualità delle
                consegne.
              </h3>
              <h4>“</h4>
            </div>
            <p>LogiTrans</p>
          </div>

          <div class="swiper-slide swiper-slide-reviews">
            <div class="reviews-item-box">
              <h4>“</h4>
              <h3>
                Meno errori di pianificazione e maggiore efficienza operativa.
              </h3>
              <h4>“</h4>
            </div>
            <p>AutoMove</p>
          </div>

          <div class="swiper-slide swiper-slide-reviews">
            <div class="reviews-item-box">
              <h4>“</h4>
              <h3>Ora gestiamo più ordini contemporaneamente senza ritardi.</h3>
              <h4>“</h4>
            </div>
            <p>QuickDelivery</p>
          </div>

          <div class="swiper-slide swiper-slide-reviews">
            <div class="reviews-item-box">
              <h4>“</h4>
              <h3>
                Abbiamo ottimizzato la gestione della nostra flotta e ridotto il
                consumo di carburante.
              </h3>
              <h4>“</h4>
            </div>
            <p>FastCargo</p>
          </div>
          <div class="swiper-slide swiper-slide-reviews">
            <div class="reviews-item-box">
              <h4>“</h4>
              <h3>
                RouteGauge ci ha permesso di migliorare la soddisfazione dei
                nostri clienti.
              </h3>
              <h4>“</h4>
            </div>
            <p>CityLogistics</p>
          </div>
          <div class="swiper-slide swiper-slide-reviews">
            <div class="reviews-item-box">
              <h4>“</h4>
              <h3>
                La nostra azienda ha ridotto le tratte inutili e migliorato la
                redditività.
              </h3>
              <h4>“</h4>
            </div>
            <p>TransSpeed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
