.cookies-section {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  width: 100%;
  background: #e9faff;
}

.cookies-container {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @media screen and (min-width: 1440px) {
    padding: 40px 108px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.cookies-text {
  max-width: 100%;
  font-size: 14px;
  line-height: 1.57143;
  text-align: center;
  color: #5b2d90;
  @media screen and (min-width: 1440px) {
    font-size: 16px;
    line-height: 1.5;
    max-width: 705px;
    text-align: left;
  }
}

.cookies-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.cookies-button {
  width: 100%;
  height: 56px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #121212;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @media screen and (min-width: 1440px) {
    width: 184px;
    height: 56px;
  }
}

.cookies-accept-js {
  background-color: #a9ffcc;
  transition: background-color 300ms ease;
}

.cookies-accept-js:hover {
  background-color: #64c78d;
}

.cookies-decline-js {
  background-color: #ff735d;
  transition: background-color 300ms ease;
}

.cookies-decline-js:hover {
  background-color: #ffb5a9;
}
