.footer {
  background-color: #181b1d;
}

.footer_container {
  padding-top: 40px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
    padding-top: 92px;
    padding-bottom: 40px;
  }
}

.footer-links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  order: -1;
  @media screen and (min-width: 1440px) {
    order: 1;
    gap: 24px;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.footer-text {
  color: #fff;
  font-size: 14px;
}

.footer-links-list-item > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #adb5bd;
}
